body {
    font-size: 16pt;
    background: yellow;
}

#app {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s ease-in;
        -ms-transition: opacity .5s ease-in;
         -o-transition: opacity .5s ease-in;
            transition: opacity .5s ease-in;
}

#app.visible {
    opacity: 1;
}

.title {
    font-family: 'vanillaregular';
    color: black;
    text-shadow: /* .5em .5em .1em #863027, */ .4em .4em .1em #863027, .3em .3em .1em #863027, .2em .2em .1em #863027, .1em .1em .1em #863027;
}
.title.markedit {
    color: red;
    text-shadow: none;
}

textarea { height: auto; }

.container {
    max-width: 640px;
}

a.stealth {
    color: inherit;
    text-decoration: none;
    cursor: text;
}

li, p {
    margin: 0;
}

.editable {
    text-decoration: none;
    color: inherit;
}
.editable:hover {
    color: inherit;
    background: white;
}